---
import Layout from '@layouts/Layout.astro'
export async function getStaticPaths() {
  const pages = [
    {
      lang: undefined,
      title: 'Astro Default',
      text: 'Welcome to the Astro store!'
    },
    {
      lang: 'en',
      title: 'Astro English',
      text: 'The selected language is english.'
    },
    {
      lang: 'es',
      title: 'Astro Español',
      text: 'El idioma seleccionado es el español.'
    }
  ]
  return pages.map(({ lang, title, text }) => {
    return {
      params: { lang },
      props: { title, text }
    }
  })
}

const { title, text } = Astro.props
---

<Layout title={title} subtitle={text} details="Index details">
  <main>
    Index SSG: {title} | {text}
    <br /><br />
    Mode: {import.meta.env.MODE}<br />
    Base url: {import.meta.env.BASE_URL}<br />
    <br /><br />
  </main>
</Layout>
