---
import { globalService } from '@service/global'
import LocaleSelector from '@components/widgets/LocaleSelector.astro'
const currentPathLocale = globalService.currentPathLocale(
  new URL(Astro.url).pathname
)
const currentPath = globalService.currentPath(new URL(Astro.url).pathname)
---

<footer>
  <div class="container-fluid flex-nowrap">
    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>

    <div class="row mb-5">
      <div class="col">This is the footer</div>
      <div class="col">
        Mode: {import.meta.env.MODE}<br />
        Base url: {import.meta.env.BASE_URL}<br />
        currentPathname: {currentPath}<br />
        currentPathLocale: {currentPathLocale}<br />
        Preferred locale: {Astro.preferredLocale}<br />
        Preferred locale list: {Astro.preferredLocaleList}<br />
      </div>
      <div class="col text-end">
        <LocaleSelector />
      </div>
    </div>
  </div>
</footer>
